In [5]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [6]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Butaritari,KI,2021-05-31 02:37:15,3.0707,172.7902,83.14,78,26,13.58
1,1,Bandarbeyla,SO,2021-05-31 02:37:16,9.4942,50.8122,78.44,82,91,22.21
2,2,Cape Town,ZA,2021-05-31 02:34:50,-33.9258,18.4232,56.08,91,75,7.38
3,3,Skeldon,GY,2021-05-31 02:37:16,5.8833,-57.1333,75.43,95,100,3.65
4,4,Tromso,NO,2021-05-31 02:37:16,69.6496,18.9570,45.25,95,100,3.00

In [7]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [8]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [18]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Heatmap of percent cloudiness
locations= city_data_df[["Lat","Lng"]]
clouds = city_data_df["Cloudiness"]
fig=gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,weights=clouds, dissipating = False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Heatmap of wind speed
locations =city_data_df[["Lat", "Lng"]]
wind=city_data_df["Wind Speed"]
heat_layer = gmaps.heatmap_layer(locations,weights=wind, dissipating = False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [25]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Butaritari,KI,2021-05-31 02:37:15,3.0707,172.7902,83.14,78,26,13.58
1,1,Bandarbeyla,SO,2021-05-31 02:37:16,9.4942,50.8122,78.44,82,91,22.21
3,3,Skeldon,GY,2021-05-31 02:37:16,5.8833,-57.1333,75.43,95,100,3.65
12,12,Georgetown,MY,2021-05-31 02:36:22,5.4112,100.3354,87.73,73,20,1.01
21,21,Vaini,TO,2021-05-31 02:37:21,-21.2000,-175.2000,75.36,83,75,3.44
22,22,Kirakira,SB,2021-05-31 02:37:22,-10.4544,161.9205,81.52,84,60,7.72
30,30,Hami,CN,2021-05-31 02:37:24,42.8000,93.4500,77.36,8,0,9.51
40,40,Hilo,US,2021-05-31 02:37:27,19.7297,-155.0900,84.27,83,90,11.50
44,44,Burla,IN,2021-05-31 02:37:28,21.5000,83.8667,88.54,43,1,3.67
48,48,Atuona,PF,2021-05-31 02:37:29,-9.8000,-139.0333,79.45,68,3,9.98

In [32]:
preferred_cities_df.count()

City_ID       173
City          173
Country       173
Date          173
Lat           173
Lng           173
Max Temp      173
Humidity      173
Cloudiness    173
Wind Speed    173
dtype: int64

In [34]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
0    Butaritari      KI     83.14   3.0707  172.7902
1   Bandarbeyla      SO     78.44   9.4942   50.8122
3       Skeldon      GY     75.43   5.8833  -57.1333
12   Georgetown      MY     87.73   5.4112  100.3354
21        Vaini      TO     75.36 -21.2000 -175.2000
22     Kirakira      SB     81.52 -10.4544  161.9205
30         Hami      CN     77.36  42.8000   93.4500
40         Hilo      US     84.27  19.7297 -155.0900
44        Burla      IN     88.54  21.5000   83.8667
48       Atuona      PF     79.45  -9.8000 -139.0333

In [35]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [ ]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

In [42]:
hotel_df.head()

           City Country  Max Temp      Lat       Lng           Hotel Name
0    Butaritari      KI     83.14   3.0707  172.7902   Isles Sunset Lodge
1   Bandarbeyla      SO     78.44   9.4942   50.8122          JABIR HOTEL
3       Skeldon      GY     75.43   5.8833  -57.1333           Rits Hotel
12   Georgetown      MY     87.73   5.4112  100.3354       Cititel Penang
21        Vaini      TO     75.36 -21.2000 -175.2000  Keleti Beach Resort

In [45]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer= gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [47]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [48]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [49]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))